header{
  background-color: black

}

.menu > div {
  display: inline-block
}
.menu{
  background-color: black;
}

#footer{
  position: fixed;
  bottom:0%;
  left:0;
  background-color: black;
}

#login{
  height: 10em;
   position: relative               /* 1 */
}
#login form {
  margin: 0;
   position: absolute;               /* 2 */
   top: 50%;                         /* 3 */
   transform: translate(0, -50%)    /* 4 */

}
